*{
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
h1{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}
h2{
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 20px;
}
section{
	padding-top: 60px;
}
footer{
	background-color: #222222;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 30px;
}
/* Generales */
.container{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
.container p {
    padding-bottom: 15px;
}
.container img {
    width: 438px;
    margin: 0 auto;
    display: block;
}
.container-large{
	max-width: 960px;
	margin: 0 auto;
}
.button{
	background-color: #337AB7;
	color: white;
	border-radius: 5px;
	padding: 10px 15px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: all 0.3s;
}
.button:hover{
	background-color: #0e709f;
}
.button-green{
	background-color: green;
}

.button-green:hover{
	background-color: #4be54b;
}
.boxcontainer{
	padding: 55px;
	background-color: #FAFAFA;
	border: solid 1px #CCCCCC;
}
.contacto{
	margin: 0 auto;
	padding-bottom: 30px;
	max-width: 798px;
}
.contact{
	display: inline-block;
	padding-right: 138px;
}
.contact input[type="text"] {
    background-color: white;
    font-size: 0.9rem;
    line-height: 35px;
    border: 1px solid #CCCCCC;
    width: 178px;
    border-radius: 5px;
    color: #cccccc;
    padding-left: 10px;
}
.contact a.button {
    background-color: #fff;
    color: #000;
    border: solid 1px #CCCCCC;
}
.contact a.button:hover {
    background-color: #0e709f;
    color: #fff;
    border: solid 1px #CCCCCC;
}
.correo{
	padding-top:18px;

}
.correo a {
    text-decoration: none;
    color: #337AB7;
 	transition: opacity 0.3s;
}
.correo a:hover{
	color:#115c9c;
}
/* Header */
header{
	color: white;
	background-color: black;
	text-align: center;
	padding: 100px;
	background-image: url("./images/bg.jpeg");
	background-repeat: no-repeat;
	background-position: 0% 65%;
	background-size: 100%;
}

/* Navegación */
nav{
	background-color: red;
}
nav ul{
	list-style: none;
	float: right;
}
.logo{
	float: left;
}
.logo img{
	width: 125px;
}
nav ul li{
	display: inline-block;
	padding-right: 10px;
}
nav li a{
	color: white;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 0.3s;
}
nav li a:hover{
	opacity: 1;
}